<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Parcial2/Layout/styles/stylesOp.css">
    <title>Animales & Naturaleza</title>
</head>
<body>
    <div class="imagen_portada">
        <img src="/Parcial2/Layout/imagenes/animales.gif" alt="gif">
    </div>
    <div class="titulo">
        <h1>Animales & Naturaleza</h1>
    </div>
    <div class="link_imagenes">
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/caracteristicas-del-ajolote-un-animal-arraigado-a-la-cultura-e-historia-de-mexico" target="_blank">
                <img src="/Parcial2/Layout/imagenes/ajolote.jpg">
            </a>
            <h2>Ajolotes: Una especie mexicana</h2>
        </div>
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/medio-ambiente/2025/03/que-son-las-corrientes-oceanicas-y-por-que-son-importantes-para-el-planeta" target="_blank">
                <img src="/Parcial2/Layout/imagenes/corrientes-marinas.jpg">
            </a>
            <h2>Importancia de las corrientes oceánicas</h2>
        </div>
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/medio-ambiente/2025/02/los-5-datos-sobre-la-selva-del-darien-por-que-es-uno-de-los-bosques-mas-peligrosos-del-mundo" target="_blank">
                <img src="/Parcial2/Layout/imagenes/selva.jpg">
            </a>
            <h2>Selva del Daríen: Uno de los bosques más peligrosos del mundo</h2>
        </div>
    </div>
</body>
</html>