<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Parcial2/Layout/styles/stylesOp.css">
    <title>Historia & Cultura</title>
</head>
<body>
    <div class="imagen_portada">
        <img src="/Parcial2/Layout/imagenes/historia.gif" alt="gif">
    </div>
    <div class="titulo">
        <h1>Historia & Cultura</h1>
    </div>
    <div class="link_imagenes">
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/historia/2025/02/las-5-curiosidades-del-carnaval-de-rio-a-traves-del-sambodromo-mas-famoso-del-mundo" target="_blank">
                <img src="/Parcial2/Layout/imagenes/carnaval.jpg">
            </a>
            <h2>Curiosidades sobre el Carnaval de Rio</h2>
        </div>
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/historia/2025/02/cual-es-el-origen-de-la-mitologia-griega" target="_blank">
                <img src="/Parcial2/Layout/imagenes/mitologia.jpg">
            </a>
            <h2>Origen de la mitología griega</h2>
        </div>
        <div class="imagen">
            <a href="https://www.nationalgeographicla.com/historia/2025/02/los-5-datos-asombrosos-sobre-galileo-galilei-un-genio-de-la-ciencia-en-la-epoca-medieval" target="_blank">
                <img src="/Parcial2/Layout/imagenes/galileo-galilei.jpg">
            </a>
            <h2>Curiosidades de Galileo Galilei</h2>
        </div>
    </div>
</body>
</html>