#imagen{
    float: left;
}

.contenedor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

#texto{
    text-align: justify;
}

h1{
    text-align: center;
    color: #000074;
}